<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Ops - Redis</title>
  <script src="../lib/vue/vue-2.js"></script>
  <script src="../lib/moment/moment-2.24.0.js"></script>
  <script src="../lib/element-ui/element-ui-2.15.10.js"></script>
  <link rel="stylesheet" href="../lib/element-ui/element-ui-2.15.10.css"/>
  <link rel="stylesheet" href="../lib/element-ui/element-ui-2.15.10-icon.css"/>
  <link href="../lib/element-ui/fonts/element-icons.ttf"/>
  <link href="../lib/element-ui/fonts/element-icons.woff"/>
  <script src="../lib/axios/axios-1.1.3.min.js"></script>
  <script src="../lib/axios/qs.js"></script>
  <script src="../lib/sm-crypto-0.3.2.1-RELEASE/sm4.js"></script>
  <script src="../lib/sm-crypto-0.3.2.1-RELEASE/sm3.js"></script>
  <script src="../lib/sm-crypto-0.3.2.1-RELEASE/sm2.js"></script>
  <script src="../lib/base64/Base64.js"></script>
  <script src="../common/OpsSecureKeyPair.js"></script>
  <script src="../common/OpsSecureCertPair.js"></script>
  <script src="../common/OpsSecureDto.js"></script>
  <script src="../common/OpsSecureHelper.js"></script>
  <script src="../common/OpsSecureTransfer.js"></script>
</head>
<body>
<div id="app">
  <el-row class="cert-block">
    <el-divider>连接证书<i class="el-icon-d-caret"></i></el-divider>
    <el-input
            type="textarea"
            :rows="3"
            placeholder="请输入连接证书"
            v-model="metas.cert"
            @change="onCertChange">
    </el-input>
  </el-row>
  <el-divider>Redis操作</el-divider>

  <el-row>
    <el-form inline label-position="left" label-width="80px">
      <el-button size="medium" @click="doResetData">重置</el-button>
      <el-divider direction="vertical"></el-divider>
      <el-form-item>
        <el-popover
                placement="top-start"
                width="200"
                trigger="hover"
                content="是否适用scan命令获取键，而不是使用keys命令">
            <el-checkbox slot="reference" v-model="form.useScanKeys">Scan键</el-checkbox>
        </el-popover>
      </el-form-item>
      <el-form-item label="过滤">
        <el-input
                placeholder="表达式"
                v-model="form.pattern">
        </el-input>
      </el-form-item>
      <el-form-item>
        <el-button size="medium" v-loading="metas.keyListLoading"
                   icon="el-icon-refresh" circle
                   @click="doRefreshKeys">
        </el-button>

      </el-form-item>
    </el-form>
  </el-row>
  <el-row type="flex">
    <el-col :span="10" style="border-right: solid 1px #777;">
      <el-row>
        <el-button size="medium" type="danger" @click="onDeleteCheckedNodes" v-loading="metas.deleteLoading">删除勾选</el-button>
      </el-row>
      <el-input
              placeholder="过滤节点"
              v-model="metas.filterNodeText">
      </el-input>
      <el-row type="flex">
        <el-tree ref="refKeyTree"
                 style="width: 100%;"
                :data="metas.keyTree"
                show-checkbox
                 :filter-node-method="filterTreeNode"
                node-key="path">
      <span class="extra-tree-node" slot-scope="{ node, data }" @click="onClickTreeNode(node,data)">
        <span>{{ node.label }}</span>
        <span style="float: right;">
          <el-button type="text" size="medium"
                     v-loading="metas.getLoading"
                     size="mini"
                     @click="onEditKey(node,data)">
            编辑
          </el-button>
          <el-button type="text" size="medium"
                     style="color: orangered;"
                     v-loading="metas.deleteLoading"
                  size="mini"
                  @click="onDeleteNodeKey(node,data)">
            删除
          </el-button>
        </span>
      </span>
        </el-tree>
      </el-row>
    </el-col>
    <el-col :span="14">
      <el-row>
          <el-row type="flex" justify="end">

            <el-button v-loading="metas.setLoading"
                       type="primary" size="medium"
                       @click="onSetKey">
              保存
            </el-button>
            <el-button v-loading="metas.ttlLoading"
                       type="success" size="medium"
                       @click="onUpdateTtl">
              更新TTL
            </el-button>
            <el-button v-loading="metas.deleteLoading"
                       type="danger" size="medium"
                       @click="onDeleteKey">
              删除
            </el-button>
          </el-row>
          <el-row type="flex">
            <el-col :span="18">
                <el-input v-model="form.key">
                  <template slot="prepend">键</template>
                  <el-button v-loading="metas.getLoading" size="medium"
                             slot="append" :icon="metas.getLoading?'el-icon-loading':'el-icon-search'"
                             @click="onViewKey">
                  </el-button>
                </el-input>
            </el-col>
            <el-col :span="6">
              <el-input type="number" v-model="form.ttl" >
                <template slot="prepend">TTL(s)</template>
              </el-input>
            </el-col>
          </el-row>
          <el-row>
            <el-input type="textarea" :rows="10" v-model="form.value" :min="-1"></el-input>
          </el-row>
      </el-row>
    </el-col>
  </el-row>

  <el-dialog
          :title="dialog.textViewer.title"
          :visible.sync="dialog.textViewer.show"
          width="80%">
    <el-input
            type="textarea"
            :rows="20"
            placeholder="文本浏览"
            v-model="dialog.textViewer.text">
    </el-input>
  </el-dialog>
</div>
</body>
<script>

  window.app = new Vue({
    data() {
      return this.getDefaultData()
    },
    created() {
      this.initStoreData();
    },
    mounted(){

    },
    watch:{
      'metas.filterNodeText':{
        handler: function(val,old){
            this.$refs.refKeyTree.filter(val);
        }
      }
    },
    methods: {
      getDefaultData() {
        return {
          storage: {

          },
          metas: {
            cert: '',
            getLoading: false,
            deleteLoading: false,
            setLoading: false,
            ttlLoading: false,
            filterNodeText: '',
            keyListLoading: false,
            keyList: [],
            keyTree:[]
          },
          drawer: {

          },
          dialog: {
            textViewer: {
              show: false,
              title: '文本浏览',
              text: ''
            }
          },
          form: {
            useScanKeys: true,
            pattern: "*",
            key: '',
            ttl: -1,
            value: '',
          }
        }
      },
      loadData() {
        let content = localStorage.getItem('ops:redis:data');
        if (!content) {
          return
        }
        content = content.trim();
        if (content.length == 0) {
          return;
        }
        try {
          let obj = JSON.parse(content);
          Object.keys(obj).forEach(k => {
            this.$data[k] = obj[k];
          });
        } catch (e) {

        }
      },
      storeData() {
        try {
          let data = {...this.$data};
          let json = JSON.stringify(data);
          let obj = JSON.parse(json);
          obj.metas.cert = '';
          let content = JSON.stringify(obj);
          localStorage.setItem('ops:redis:data', content);
        } catch (e) {
          //console.log(e)
        }
      },
      initStoreData(){
        let reset = new URL(window.location.href).searchParams.get('reset');
        if(reset!='true') {
          this.loadData();
        }
        setInterval(() => {
          this.storeData();
        }, 1000);
      },
      doResetData() {
        let newData = this.getDefaultData();
        Object.keys(newData).forEach(k => {
          this.$data[k] = newData[k];
        })
      },
      getTransfer() {
        let cert = this.metas.cert;
        if (!cert || cert.length == 0) {
          cert = '';
        }
        cert = cert.trim();
        if (!cert || cert.length == 0) {
          throw new Error('请先填写连接证书')
        }
        let ex=null;
        for (let i = 0; i < 3; i++) {
          try{
            let keyPair = OpsSecureHelper.deserializeKeyPair(cert)
            return new OpsSecureTransfer(keyPair)
          }catch (e){
            ex=e;
          }
        }
        if(!ex){
          ex=new Error('init transfer error')
        }
        throw e;
      },
      onCertChange() {

      },
      onViewText(obj, title) {
        if (title && title.length > 0) {
          this.dialog.textViewer.title = title;
        } else {
          this.dialog.textViewer.title = '文本浏览';
        }
        let text = ''
        if (typeof obj == 'string') {
          text = obj;
        } else {
          text = JSON.stringify(obj, null, '    ');
        }
        this.dialog.textViewer.text = text;
        this.dialog.textViewer.show = true;
      },
      doRefreshKeys(){
        this.metas.keyListLoading = true;
        try {
          let useScanKeys=this.form.useScanKeys;
          let req = {
            pattern: this.form.pattern,
          }


          let transfer = this.getTransfer();
          this.$axios({
            url: '/'+(useScanKeys?'scan':'keys'),
            method: 'post',
            data: transfer.send(req)
          }).then(res => {
            if (res.data.code == 200) {
              //console.log(res.data)
              let resp = transfer.recv(res.data.data)
              //console.log(resp)
              this.metas.keyList = resp;
              let tree=this.rebuildKeyTree(resp);
              this.metas.keyTree=tree;
            } else {
              this.$message.error(res.data.msg)
            }
          }).catch(err => {
            this.$message.error(err.errorMessage || err.message || '操作失败')
          }).finally(() => {
            this.metas.keyListLoading = false;
          })
        } catch (err) {
          this.$message.error(err.errorMessage || err.message || '操作失败')
          this.metas.keyListLoading = false;
        }
      },
      rebuildKeyTree(list){
        let tree=[];
        if(!list){
          return tree;
        }
        /*let tree=[{
          path: 'auth:login',
          label: 'login',
          children: []
        }]*/
        list.forEach(item=>{
          let arr=item.split(':');
          this.appendToTree(arr,0,tree,'');
        })
        return tree;
      },
      appendToTree(arr,index,tree,parentPath){
        if(index>=arr.length){
          return
        }
        if(!parentPath){
          parentPath='';
        }
        let label=arr[index];
        let node=null;
        for (let i = 0; i < tree.length; i++) {
          let item=tree[i];
          if(item.label==label){
            node=item;
            break;
          }
        }
        if(!node){
          node={
            path: (parentPath=='')?(label):(parentPath+':'+label),
            label: label,
            children: null,
          }
          tree.push(node);
        }
        if(!node.children){
          node.children=[];
        }
        this.appendToTree(arr,index+1,node.children,node.path);
      },
      filterTreeNode(value, data) {
        if (!value) return true;
        return data.path.indexOf(value) >=0;
      },
      onDeleteNodeKey(node,data){
        let key=data.path;
        this.$confirm('即将删除键，是否继续？<br/>'+key, '删除提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning',
          dangerouslyUseHTMLString: true
        }).then(() => {
          this.doDeleteKey([key]);
        }).catch(() => {
          this.$message({
            type: 'info',
            message: '已取消删除'
          });
        });
      },
      onDeleteCheckedNodes(){
        let nodes=this.$refs.refKeyTree.getCheckedNodes()
        if(!nodes || nodes.length==0){
          this.$message.error('未选择节点');
          return;
        }
        let keys=nodes.map(e=>e.path)
        this.$confirm('即将删除键，是否继续？<br/> 已选择 '+keys[0]+' 等 '+keys.length +' 个键', '删除提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning',
          dangerouslyUseHTMLString: true
        }).then(() => {
          this.doDeleteKey(keys);
        }).catch(() => {
          this.$message({
            type: 'info',
            message: '已取消删除'
          });
        });
      },
      onDeleteKey(){
        let key=this.form.key;
        this.$confirm('即将删除键，是否继续？<br/>'+key, '删除提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning',
          dangerouslyUseHTMLString: true
        }).then(() => {
          this.doDeleteKey([key]);
        }).catch(() => {
          this.$message({
            type: 'info',
            message: '已取消删除'
          });
        });
      },
      doDeleteKey(keys){
        this.metas.deleteLoading = true;
        try {
          let req = {
            keys: keys,
          }
          let transfer = this.getTransfer();
          this.$axios({
            url: '/delete',
            method: 'post',
            data: transfer.send(req)
          }).then(res => {
            if (res.data.code == 200) {
              //console.log(res.data)
              let resp = transfer.recv(res.data.data)
              //console.log(resp)
              this.$message.success('操作成功')
            } else {
              this.$message.error(res.data.msg)
            }
          }).catch(err => {
            this.$message.error(err.errorMessage || err.message || '操作失败')
          }).finally(() => {
            this.metas.deleteLoading = false;
          })
        } catch (err) {
          this.$message.error(err.errorMessage || err.message || '操作失败')
          this.metas.deleteLoading = false;
        }
      },
      onClickTreeNode(node,data){
        this.form.key=data.path;
      },
      onEditKey(node,data){
        this.form.key=data.path;
        this.onViewKey()
      },
      onViewKey(){
        this.metas.getLoading = true;
        try {
          let req = {
            key: this.form.key,
          }
          let transfer = this.getTransfer();
          this.$axios({
            url: '/get',
            method: 'post',
            data: transfer.send(req)
          }).then(res => {
            if (res.data.code == 200) {
              //console.log(res.data)
              let resp = transfer.recv(res.data.data)
              //console.log(resp)
              this.form.key=resp.key;
              this.form.ttl=resp.ttl || -1;
              this.form.value=resp.value;
            } else {
              this.$message.error(res.data.msg)
            }
          }).catch(err => {
            this.$message.error(err.errorMessage || err.message || '操作失败')
          }).finally(() => {
            this.metas.getLoading = false;
          })
        } catch (err) {
          this.$message.error(err.errorMessage || err.message || '操作失败')
          this.metas.getLoading = false;
        }
      },
      onSetKey(){
        let key=this.form.key;
        this.$confirm('即将保存键、值、TTL，是否继续？<br/>'+key, '删除提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning',
          dangerouslyUseHTMLString: true
        }).then(() => {
          this.doSetKey();
        }).catch(() => {
          this.$message({
            type: 'info',
            message: '已取消操作'
          });
        });
      },
      doSetKey(){
        this.metas.setLoading = true;
        try {
          let req = {
            key: this.form.key,
            ttl: this.form.ttl,
            value: this.form.value,
          }
          let transfer = this.getTransfer();
          this.$axios({
            url: '/set',
            method: 'post',
            data: transfer.send(req)
          }).then(res => {
            if (res.data.code == 200) {
              //console.log(res.data)
              let resp = transfer.recv(res.data.data)
              //console.log(resp)
              this.$message.success('操作成功')
            } else {
              this.$message.error(res.data.msg)
            }
          }).catch(err => {
            this.$message.error(err.errorMessage || err.message || '操作失败')
          }).finally(() => {
            this.metas.setLoading = false;
          })
        } catch (err) {
          this.$message.error(err.errorMessage || err.message || '操作失败')
          this.metas.setLoading = false;
        }
      },
      onUpdateTtl(){
        let key=this.form.key;
        this.$confirm('即将更新TTL，是否继续？<br/>'+key, '删除提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning',
          dangerouslyUseHTMLString: true
        }).then(() => {
          this.doUpdateTtl();
        }).catch(() => {
          this.$message({
            type: 'info',
            message: '已取消操作'
          });
        });
      },
      doUpdateTtl(){
        this.metas.ttlLoading = true;
        try {
          let req = {
            key: this.form.key,
            ttl: this.form.ttl
          }
          let transfer = this.getTransfer();
          this.$axios({
            url: '/ttl',
            method: 'post',
            data: transfer.send(req)
          }).then(res => {
            if (res.data.code == 200) {
              //console.log(res.data)
              let resp = transfer.recv(res.data.data)
              //console.log(resp)
              this.$message.success('操作成功')
            } else {
              this.$message.error(res.data.msg)
            }
          }).catch(err => {
            this.$message.error(err.errorMessage || err.message || '操作失败')
          }).finally(() => {
            this.metas.ttlLoading = false;
          })
        } catch (err) {
          this.$message.error(err.errorMessage || err.message || '操作失败')
          this.metas.ttlLoading = false;
        }
      }
    }
  })
  let defaultConfig = {
    baseURL: './',
    timeout: 10 * 60 * 1000,
    responseType: 'json'
  }
  let request = axios.create(defaultConfig)
  window.app.$axios = request
  window.app.$mount('#app')
</script>
<style>
  .cert-block {
    height: 32px;
    overflow: hidden;
  }
  .cert-block:hover{
    height: unset;
  }

  .list-item {
    margin-top: 3px;
    border-bottom: solid 1px #777;
  }

  .list-item:hover {
    background: lightskyblue;
  }

  .checked-item {
    background: darkorange;
  }

  .extra-tree-node {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    padding-right: 8px;
    border-bottom: solid 1px #777;
  }

  .extra-tree-node:hover {
    background: lightskyblue;
  }

</style>
</html>