<?xml version="1.0" encoding="utf-8" ?>
<mapper>
    <sql id="i2f.velocity.bindsql.test.SqlProxy.MapperApi.query">
        select
        #trim(",",","," "," ")
        #foreach($column in $map.keySet())
            a.$column,
        #end
    #end
        from $table a
        #sqlWhere()
        #foreach($column in $map.keySet())
            and a.$column = #sql($map.get($column))
        #end
    #end


    </sql>

    <sql id="s2">

        insert into $table
        (
        #trim(",",","," "," ")
        #foreach($column in $map.keySet())
            $column,
        #end
    #end
        )
        values
        (
        #trim(",",","," "," ")
        #foreach($column in $map.keySet())
            #sql($map.get($column)),
        #end
    #end
        )
    </sql>

    <sql id="s3">


        update $table
        #sqlSet()
        #foreach($column in $map.keySet())
            $column = #sql($map.get($column)),
        #end
    #end
        #sqlWhere()
        #foreach($column in $map.keySet())
            and $column = #sql($map.get($column))
        #end
    #end

    </sql>

    <sql id="s4">


        delete from $table
        #sqlWhere()
        #foreach($column in $map.keySet())
            and $column = #sql($map.get($column))
        #end
    #end
    </sql>

    <sql id="s5">
        #richFor($item,$map,",","{","}")
        ${item}-$index:
        #richFor($item,$map,",","{","}")
        $item:$index:$map.get($item)
    #end
    #end
    </sql>

    <sql id="s6">
        #fori($item,10,0,-2,",","{","}")
        ${item}-$index:
    #end

    </sql>

    <sql id="s7">


        insert into $table
        (
        #richFor($column,$map.keySet(),",")
        $column
    #end
        )
        #fori($item,0,3,1," union all ")
        select
        #richFor($column,$map.keySet(),",")
        #sql($map.get($column))
    #end
        from dual
    #end
    </sql>

    <sql id="s8">
        #richFor($item,[1,2,3,5,7,11])
        $index:$item
    #end
    </sql>
</mapper>