<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>表设计文档</title>
    <style>
        * {
            font-family: '新宋体';
            font-size: 12pt;
            margin: 0;
            padding: 0;
        }

        hr {
            margin: 8px 2px;
        }

        h1, h2, h3, h4, h5, h6 {
            margin: 5px 2px;
        }

        table tr td {
            padding: 5px 8px;
            border: solid 1px black;
        }

        .api-desc-table {
            width: 100%;
        }

        .api-desc-key {
            width: 25%;
            background-color: #e86fb2;
        }

        .api-desc-value {
            width: 75%;
        }

        .table-column-list {
            width: 100%;
        }

        .table-column-head {
            text-align: center;
            font-weight: normal;
            background-color: #aaaaaa;
        }

        .document {
            max-width: calc(210mm * 1);
            overflow-wrap: break-word;
            margin: 0 auto;
        }
    </style>
</head>
<body>
<div class="document">
    #foreach(${table} in ${tables})
        <h3>1.1.${velocityCount} 表 ${_vm.ifnull(${table.comment},${table.name})}</h3>

    表 ${_vm.ifnull(${table.name},"")} 的列清单<br/>
    <table class="table-column-list" border="1" cellspacing="0">
        <tr>
            <th class="table-column-head" style="width: 5%">
                序号
            </th>
            <th class="table-column-head" style="width: 25%">
                名称
            </th>
            <th class="table-column-head" style="width: 25%">
                数据类型
            </th>
            <th class="table-column-head" style="width: 15%">
                非空
            </th>
            <th class="table-column-head" style="width: 15%">
                默认
            </th>
            <th class="table-column-head" style="width: 30%">
                注释
            </th>
        </tr>
        #foreach(${line} in ${table.columns})
            <tr>
                <td class="table-column-body">
                    $velocityCount
                </td>
                <td class="table-column-body">
                    ${_vm.ifnull(${line.name},"")}
                </td>
                <td class="table-column-body">
                    ${line.type}
                    #if(${line.precision}>0)
                        (
                        ${line.precision}
                        #if(${line.scale}>0)
                            ,${line.scale}
                        #end
                        )
                    #end
                </td>
                <td class="table-column-body">
                    #if(${line.nullable})
                        NO
                    #else
                        YES
                    #end
                </td>
                <td class="table-column-body">
                    ${_vm.ifnull(${line.defaultValue},"")}
                </td>
                <td class="table-column-body">
                    ${_vm.ifnull(${line.comment},"")}
                </td>
            </tr>
        #end
    </table>

    <br/>

    表 ${_vm.ifnull(${table.name},"")} 的主键清单<br/>
    <table class="table-column-list" border="1" cellspacing="0">
        <tr>
            <th class="table-column-head" style="width: 5%">
                序号
            </th>
            <th class="table-column-head" style="width: 35%">
                限制名称
            </th>
            <th class="table-column-head" style="width: 35%">
                字段
            </th>
            <th class="table-column-head" style="width: 25%">
                注释
            </th>
        </tr>
        #if(!${_vm.isnull(${table.primary})})

            <tr>
                <td class="table-column-body">
                    1
                </td>
                <td class="table-column-body">
                    ${_vm.ifnull(${table.primary.name},"")}
                </td>
                <td class="table-column-body">
                    #foreach(${item} in ${table.primary.columns})
                        ${item.name}
                        #if($velocityCount < $table.primary.columns.size())
                            、
                        #end
                    #end
                </td>
                <td class="table-column-body">
                    ${_vm.ifnull(${table.primary.type},"")}
                </td>
            </tr>
        #end
    </table>

    <br/>

    表 ${_vm.ifnull(${table.name},"")} 的唯一清单<br/>
    <table class="table-column-list" border="1" cellspacing="0">
        <tr>
            <th class="table-column-head" style="width: 5%">
                序号
            </th>
            <th class="table-column-head" style="width: 35%">
                限制名称
            </th>
            <th class="table-column-head" style="width: 35%">
                字段
            </th>
            <th class="table-column-head" style="width: 25%">
                注释
            </th>
        </tr>
        #foreach(${line} in ${table.uniqueIndexes})
            <tr>
                <td class="table-column-body">
                    $velocityCount
                </td>
                <td class="table-column-body">
                    ${_vm.ifnull(${line.name},"")}
                </td>
                <td class="table-column-body">
                    #foreach(${item} in ${line.columns})
                        ${item.name}
                        #if($velocityCount < $line.columns.size())
                            、
                        #end
                    #end
                </td>
                <td class="table-column-body">
                    ${_vm.ifnull(${line.type},"")}
                </td>
            </tr>
        #end
    </table>

    <br/>

    表 ${_vm.ifnull(${table.name},"")} 的索引清单<br/>
    <table class="table-column-list" border="1" cellspacing="0">
        <tr>
            <th class="table-column-head" style="width: 5%">
                序号
            </th>
            <th class="table-column-head" style="width: 35%">
                限制名称
            </th>
            <th class="table-column-head" style="width: 35%">
                字段
            </th>
            <th class="table-column-head" style="width: 25%">
                注释
            </th>
        </tr>
        #foreach(${line} in ${table.indexes})
            <tr>
                <td class="table-column-body">
                    $velocityCount
                </td>
                <td class="table-column-body">
                    ${_vm.ifnull(${line.name},"")}
                </td>
                <td class="table-column-body">
                    #foreach(${item} in ${line.columns})
                        ${item.name}
                        #if($velocityCount < $line.columns.size())
                            、
                        #end
                    #end
                </td>
                <td class="table-column-body">
                    ${_vm.ifnull(${line.type},"")}
                </td>
            </tr>
        #end
    </table>
    #end
</div>
</body>

</html>