-- table ddl

-- -------------------------------------------------
-- 1.1 :   sys_dict

-- drop table if exists sys_dict;

create table sys_dict
(
    id          BIGINT ( 19 ) not null,
    name        VARCHAR(300) not null,
    no          VARCHAR(300) not null,
    status      INT ( 10 ) default 1,
    create_time DATETIME ( 19 ) default CURRENT_TIMESTAMP,
    create_by   VARCHAR(300),
    update_time DATETIME ( 19 ),
    update_by   VARCHAR(300),
    primary key (id)
);



-- -------------------------------------------------
-- 1.2 :   sys_dict_item

-- drop table if exists sys_dict_item;

create table sys_dict_item
(
    id             BIGINT ( 19 ) not null,
    dict_id        BIGINT ( 19 ) not null,
    name           VARCHAR(300) not null,
    no             VARCHAR(300),
    value          VARCHAR(300),
    remark         VARCHAR(300),
    parent_item_id BIGINT ( 19 ),
    status         INT ( 10 ) default 1,
    tags           VARCHAR(300),
    create_time    DATETIME ( 19 ) default CURRENT_TIMESTAMP,
    create_by      VARCHAR(300),
    update_time    DATETIME ( 19 ),
    update_by      VARCHAR(300),
    primary key (id)
);



-- -------------------------------------------------
-- 1.3 :   sys_log

-- drop table if exists sys_log;

create table sys_log
(
    id          BIGINT ( 19 ) not null,
    type        VARCHAR(300),
    title       VARCHAR(300),
    target      VARCHAR(300),
    action      VARCHAR(2000),
    create_time DATETIME ( 19 ) default CURRENT_TIMESTAMP,
    create_by   VARCHAR(300),
    primary key (id)
);



-- -------------------------------------------------
-- 1.4 :   sys_permission

-- drop table if exists sys_permission;

create table sys_permission
(
    id          BIGINT ( 19 ) not null,
    name        VARCHAR(300) not null,
    no          VARCHAR(300) not null,
    type        INT ( 10 ) default 0,
    status      INT ( 10 ) default 1,
    create_time DATETIME ( 19 ) default CURRENT_TIMESTAMP,
    create_by   VARCHAR(300),
    update_time DATETIME ( 19 ),
    update_by   VARCHAR(300),
    primary key (id)
);



-- -------------------------------------------------
-- 1.5 :   sys_role

-- drop table if exists sys_role;

create table sys_role
(
    id          BIGINT ( 19 ) not null,
    name        VARCHAR(300) not null,
    no          VARCHAR(300) not null,
    status      INT ( 10 ) default 1,
    create_time DATETIME ( 19 ) default CURRENT_TIMESTAMP,
    create_by   VARCHAR(300),
    update_time DATETIME ( 19 ),
    update_by   VARCHAR(300),
    primary key (id)
);



-- -------------------------------------------------
-- 1.6 :   sys_role_permission

-- drop table if exists sys_role_permission;

create table sys_role_permission
(
    id            BIGINT ( 19 ) not null,
    role_id       BIGINT ( 19 ) not null,
    permission_id BIGINT ( 19 ) not null,
    create_time   DATETIME ( 19 ) default CURRENT_TIMESTAMP,
    create_by     VARCHAR(300),
    update_time   DATETIME ( 19 ),
    update_by     VARCHAR(300),
    primary key (id)
);



-- -------------------------------------------------
-- 1.7 :   sys_user

-- drop table if exists sys_user;

create table sys_user
(
    id          BIGINT ( 19 ) not null comment 'ID',
    username    VARCHAR(300) not null comment '用户名',
    password    VARCHAR(300) not null comment '密码',
    nickname    VARCHAR(300) comment '昵称',
    age         INT ( 10 ),
    grade       INT ( 10 ),
    status      INT ( 10 ) default 1,
    create_time DATETIME ( 19 ) default CURRENT_TIMESTAMP,
    create_by   VARCHAR(300),
    update_time DATETIME ( 19 ),
    update_by   VARCHAR(300),
    primary key (id)
) comment '用户表';


create unique index sys_user_username_IDX
    on sys_user (username);



create index sys_user_nickname_IDX
    on sys_user (nickname);


-- -------------------------------------------------
-- 1.8 :   sys_user_role

-- drop table if exists sys_user_role;

create table sys_user_role
(
    id          BIGINT ( 19 ) not null,
    user_id     BIGINT ( 19 ) not null,
    role_id     BIGINT ( 19 ) not null,
    create_time DATETIME ( 19 ) default CURRENT_TIMESTAMP,
    create_by   VARCHAR(300),
    update_time DATETIME ( 19 ),
    update_by   VARCHAR(300),
    primary key (id)
);


    

    

