<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- 1小时缓存过期 -->
    <meta http-equiv="Cache-Control" content="max-age=3600, public">
    <title>Ops - Ssh</title>
    <script src="../lib/vue/vue-2.js"></script>
    <script src="../lib/moment/moment-2.24.0.js"></script>
    <script src="../lib/element-ui/element-ui-2.15.10.js"></script>
    <link rel="stylesheet" href="../lib/element-ui/element-ui-2.15.10.css"/>
    <link rel="stylesheet" href="../lib/element-ui/element-ui-2.15.10-icon.css"/>
    <link href="../lib/element-ui/fonts/element-icons.ttf"/>
    <link href="../lib/element-ui/fonts/element-icons.woff"/>
    <script src="../lib/axios/axios-1.1.3.min.js"></script>
    <script src="../lib/axios/qs.js"></script>
    <script src="../lib/sm-crypto-0.3.2.1-RELEASE/sm4.js"></script>
    <script src="../lib/sm-crypto-0.3.2.1-RELEASE/sm3.js"></script>
    <script src="../lib/sm-crypto-0.3.2.1-RELEASE/sm2.js"></script>
    <script src="../lib/base64/Base64.js"></script>
    <script src="../common/OpsSecureKeyPair.js"></script>
    <script src="../common/OpsSecureCertPair.js"></script>
    <script src="../common/OpsSecureDto.js"></script>
    <script src="../common/OpsSecureHelper.js"></script>
    <script src="../common/OpsSecureTransfer.js"></script>
    <script src="../lib/echarts-5/echarts.min.js"></script>
    <!-- 从这里查找 CDN 资源： https://cdnjs.com/libraries/codemirror -->
    <script src="../lib/codemirror-6.65.7/codemirror.min.js"></script>
    <link rel="stylesheet" href="../lib/codemirror-6.65.7/codemirror.min.css"/>
    <link rel="stylesheet" href="../lib/codemirror-6.65.7/addon/hint/show-hint.min.css"/>
    <script src="../lib/codemirror-6.65.7/addon/hint/show-hint.min.js"></script>
    <link rel="stylesheet" href="../lib/codemirror-6.65.7/theme/idea.min.css"/>

    <script src="../lib/codemirror-6.65.7/addon/search/search.min.js" ></script>
    <script src="../lib/codemirror-6.65.7/addon/search/searchcursor.min.js" ></script>
    <script src="../lib/codemirror-6.65.7/addon/search/jump-to-line.min.js" ></script>
    <script src="../lib/codemirror-6.65.7/addon/search/match-highlighter.min.js" ></script>

    <script src="../lib/codemirror-6.65.7/mode/shell/shell.min.js"></script>

    <link rel="stylesheet" href="../lib/vue-virtual-scroller/vue-virtual-scroller.css"/>
    <script src="../lib/vue-virtual-scroller/vue-virtual-scroller.min.js"></script>
    <script src="../lib/crypto-js-4.2.0/crypto-js.min.js"></script>

    <script src="../lib/codemirror-6.65.7/mode/yaml/yaml.min.js" ></script>
    <script src="../lib/codemirror-6.65.7/addon/lint/yaml/yaml-lint.min.js" ></script>

    <script src="../lib/codemirror-6.65.7/mode/javascript/javascript.min.js" ></script>
    <script src="../lib/codemirror-6.65.7/addon/hint/javascript/javascript-hint.min.js" ></script>
    <script src="../lib/codemirror-6.65.7/addon/lint/javascript/javascript-lint.min.js" ></script>

    <script src="../lib/codemirror-6.65.7/mode/sql/sql.min.js"></script>
    <script src="../lib/codemirror-6.65.7/addon/hint/sql/sql-hint.min.js" ></script>

    <script src="../lib/codemirror-6.65.7/mode/shell/shell.min.js"></script>

    <script src="../lib/codemirror-6.65.7/mode/xml/xml.min.js" ></script>
    <script src="../lib/codemirror-6.65.7/addon/fold/xml/xml-fold.min.js" ></script>
    <script src="../lib/codemirror-6.65.7/addon/hint/xml/xml-hint.min.js" ></script>

    <script src="../lib/codemirror-6.65.7/addon/lint/html/html-lint.min.js" ></script>
    <script src="../lib/codemirror-6.65.7/addon/hint/html/html-hint.min.js" ></script>
    <script src="../lib/codemirror-6.65.7/mode/htmlmixed/htmlmixed.min.js" ></script>

    <script src="../lib/codemirror-6.65.7/mode/markdown/markdown.min.js" ></script>
    <script src="../lib/codemirror-6.65.7/addon/fold/markdown/markdown-fold.min.js"></script>

    <script src="../lib/codemirror-6.65.7/mode/groovy/groovy.min.js" ></script>

    <script src="../lib/codemirror-6.65.7/mode/nginx/nginx.min.js" ></script>

    <script src="../lib/codemirror-6.65.7/mode/python/python.min.js" ></script>
</head>
<body>
<div id="app">
    <el-row class="cert-block">
        <el-divider>连接证书<i class="el-icon-d-caret"></i></el-divider>
        <el-input clearable
                type="textarea"
                :rows="3"
                placeholder="请输入连接证书"
                v-model="metas.cert"
                @change="onCertChange">
        </el-input>
    </el-row>

    <el-row class="cert-block">
        <el-divider>SSH 操作<i class="el-icon-d-caret"></i></el-divider>
        <el-form inline label-position="left" label-width="80px">
            <el-form-item label="主机">
                <el-input clearable v-model="form.meta.host" placeholder="主机地址"></el-input>
            </el-form-item>
            <el-form-item label="端口">
                <el-input-number v-model="form.meta.port" :min="0" :max="65535"></el-input-number>
            </el-form-item>
            <el-form-item label="用户名">
                <el-input clearable v-model="form.meta.username" placeholder="用户名"></el-input>
            </el-form-item>
            <el-form-item label="密码">
                <el-input clearable type="password" v-model="form.meta.password" placeholder="密码"></el-input>
            </el-form-item>
            <el-form-item label="秘钥">
                <el-input clearable type="password" v-model="form.meta.privateKey" placeholder="秘钥，非必填"></el-input>
            </el-form-item>
        </el-form>
    </el-row>
    <el-input clearable placeholder="请输入工作路径"
              v-model="form.workdir">
        <el-button v-loading="metas.workdirLoading" size="medium"
                   slot="append" :icon="metas.workdirLoading?'el-icon-loading':'el-icon-search'"
                   @click="doRefreshWorkdir">
    </el-input>
    <el-card shadow="never">
        <textarea ref="refEditor"></textarea>
    </el-card>

    <el-row>
        <el-form inline label-position="left" label-width="100px">
            <el-row>
                <el-col :span="16">
                    <el-button size="medium" @click="doResetData">重置</el-button>
                    <el-divider direction="vertical"></el-divider>
                    <el-form-item label="最大等待秒数">
                        <el-input-number v-model="form.waitForSeconds" :min="0" :max="500"></el-input-number>
                    </el-form-item>
                </el-col>
                <el-col :span="8">
                    <el-row type="flex" justify="end">
                        <el-form-item>
                            <el-button type="success" size="medium"
                                       @click="onViewFiles">
                                文件
                            </el-button>
                        </el-form-item>
                    </el-row>
                </el-col>
            </el-row>
            <el-row type="flex" justify="center">
                <el-form-item>
                    <el-checkbox v-model="form.runAsFile">以文件执行</el-checkbox>
                    <el-button v-loading="metas.resultLoading" size="medium"
                               type="primary"
                               @click="onExecute">
                        执行
                    </el-button>
                </el-form-item>
            </el-row>

        </el-form>
    </el-row>
    <el-divider>操作结果</el-divider>
    <el-card shadow="never">
        <el-form inline label-position="left" label-width="100px">
            <el-form-item label="语言类型">
                <el-select  clearable filterable v-model="metas.resultLang"  placeholder="语言类型" @change="onResultLangChange">
                    <el-option
                            v-for="item in metas.langList"
                            :key="item.value"
                            :label="item.label"
                            :value="item.value">
                    </el-option>
                </el-select>
            </el-form-item>
        </el-form>
        <textarea ref="refResultEditor"></textarea>
    </el-card>
    <el-drawer
            title="文件列表"
            :visible.sync="drawer.fileList.show"
            direction="rtl"
            size="75%">
        <el-row style="width: 100%;">
            <el-row>
                <el-col :span="16">
                    <el-button type="primary" size="medium" @click="onAddDirectory">新建目录</el-button>
                    <el-button type="primary" size="medium" @click="onAddFile">新建文件</el-button>
                    <el-upload
                            ref="upload"
                            style="display: inline-block;"
                            action="#"
                            :file-list="metas.uploadList"
                            :auto-upload="false"
                            :on-change="onUploadFileChange"
                            :show-file-list="false"
                    >
                        <el-button slot="trigger" type="success" size="medium" :loading="metas.uploadLoading"
                                   type="primary">文件上传
                        </el-button>
                    </el-upload>
                </el-col>
                <el-col :span="8">
                    <el-row type="flex" justify="end">
                        <el-button type="success" size="medium"
                                   @click="onViewText(drawer.fileList.files,'文件列表','json')">
                            文件JSON
                        </el-button>
                        <el-button v-loading="drawer.fileList.filesLoading" size="medium"
                                   icon="el-icon-refresh" circle
                                   @click="onRefreshFiles">
                        </el-button>
                    </el-row>
                </el-col>

            </el-row>
            <el-row>
                <el-input clearable v-model="drawer.fileList.filterFile" placeholder="过滤文件"></el-input>
            </el-row>
            <recycle-scroller :items="computeFilterFiles"
                              class="scroller"
                              :item-size="32"
                              key-field="name"
                              v-slot="{ item }">
                <el-row type="flex"
                        class="list-item">
                    <el-col :span="14" style="border-right: solid 1px #777;">
                        <el-link v-if="item.type=='dir'" type="primary"
                                 @click="onClickDir(item)"
                                 style="display: inline-block;width: 100%;text-align: left;">
                            {{item.name}}
                        </el-link>
                        <span v-else style="display: inline-block;width: 100%;text-align: left;">
                            {{item.name}}
                        </span>
                    </el-col>
                    <el-col :span="4">
                        {{item.sizeText}}
                    </el-col>
                    <el-col :span="6">
                        <el-row type="flex" justify="end">
                            <template v-if="item.type=='file'">
                                <el-tag size="mini" style="margin-right: 8px;" type="primary"
                                        @click="onDownloadFile(item)">下载
                                </el-tag>
                                <el-tag size="mini" style="margin-right: 8px;" type="success" @click="onEditFile(item)">
                                    编辑
                                </el-tag>
                            </template>
                            <el-tag size="mini" style="margin-right: 8px;" type="danger" @click="onDeleteFile(item)">
                                删除
                            </el-tag>
                        </el-row>
                    </el-col>
                </el-row>
            </recycle-scroller>

        </el-row>
    </el-drawer>

    <el-dialog
            :title="dialog.textViewer.title"
            :visible.sync="dialog.textViewer.show"
            width="80%">
        <el-card shadow="never">
            <el-form inline label-position="left" label-width="100px">
                <el-form-item label="语言类型">
                    <el-select  clearable filterable v-model="dialog.textViewer.lang"  placeholder="语言类型" @change="onTextViewerLangChange">
                        <el-option
                                v-for="item in metas.langList"
                                :key="item.value"
                                :label="item.label"
                                :value="item.value">
                        </el-option>
                    </el-select>
                </el-form-item>
            </el-form>
            <textarea ref="refTextViewerEditor"></textarea>
        </el-card>
    </el-dialog>

    <el-dialog
            :title="dialog.fileEditor.title"
            :visible.sync="dialog.fileEditor.show"
            width="80%">
        <el-row type="flex" justify="end">
            <el-button v-loading="dialog.fileEditor.saveLoading" size="medium" type="primary" @click="onSubmitEditFile">
                保存修改
            </el-button>
        </el-row>
        <el-row>
            <el-input clearable v-model="dialog.fileEditor.path" :disabled="!dialog.fileEditor.allowChangePath"
                      placeholder="文件路径"></el-input>
        </el-row>
        <el-card shadow="never">
            <el-form inline label-position="left" label-width="100px">
                <el-form-item label="语言类型">
                    <el-select  clearable filterable v-model="dialog.fileEditor.lang"  placeholder="语言类型" @change="onFileEditorLangChange">
                        <el-option
                                v-for="item in metas.langList"
                                :key="item.value"
                                :label="item.label"
                                :value="item.value">
                        </el-option>
                    </el-select>
                </el-form-item>
            </el-form>
            <textarea ref="refFileEditor"></textarea>
        </el-card>
    </el-dialog>

    <el-dialog
            :title="dialog.createDirectory.title"
            :visible.sync="dialog.createDirectory.show"
            width="80%">
        <el-input clearable
                placeholder="创建目录"
                v-model="dialog.createDirectory.text">
        </el-input>
        <el-row type="flex" justify="end">
            <el-button size="medium" @click="dialog.createDirectory.show=false">取消</el-button>
            <el-button v-loading="dialog.createDirectory.saveLoading" size="medium" type="primary"
                       @click="onSubmitCreateDirectory">提交
            </el-button>
        </el-row>
    </el-dialog>

</div>
</body>
<script>
    Vue.use(VueVirtualScroller.default);
    window.app = new Vue({
        components: {},
        data() {
            return this.getDefaultData()
        },
        created() {
            this.initStoreData();
            this.initCompletionsRefreshInterval();
            this.initBroadcast();
        },
        mounted() {
            this.initEditor();
            this.initResultEditor();
            this.initTextViewerEditor();
            this.initFileEditor();
        },
        watch: {},
        computed: {
            computeFilterFiles() {
                let list = this.drawer.fileList.files || [];
                return list.filter(item => {
                    return (!this.drawer.fileList.filterFile || item.name.toLowerCase().indexOf(this.drawer.fileList.filterFile.toLowerCase()) >= 0);
                })
            }
        },
        methods: {
            getDefaultData() {
                return {
                    editor: null,
                    opsBroadcastChannel:null,
                    langEditors: {
                        resultEditor: null,
                        textViewerEditor: null,
                        fileEditor: null,
                    },
                    completions: [],
                    storage: {},
                    metas: {
                        cert: '',
                        resultLoading: false,
                        resultLang: 'text',
                        resultText: '',
                        workdirLoading: false,
                        uploadLoading: false,
                        uploadList: [],
                        langList:[
                            {label: 'Text',value:'text'},
                            {label: 'Yaml',value:'yaml'},
                            {label: 'Json',value:'javascript'},
                            {label: 'SQL',value:'sql'},
                            {label: 'Shell',value:'shell'},
                            {label: 'Xml',value:'xml'},
                            {label: 'Html',value:'htmlmixed'},
                            {label: 'Markdown',value:'markdown'},
                            {label: 'Groovy',value:'groovy'},
                            {label: 'Nginx',value:'nginx'},
                            {label: 'Python',value:'python'},
                        ]
                    },
                    drawer: {
                        fileList: {
                            show: false,
                            filterFile: '',
                            filesLoading: false,
                            files: [],
                        }
                    },
                    dialog: {
                        textViewer: {
                            show: false,
                            title: '文本浏览',
                            text: '',
                            lang: 'text'
                        },
                        fileEditor: {
                            show: false,
                            title: '文件编辑器',
                            text: '',
                            path: '',
                            lang: 'text',
                            allowChangePath: false,
                            saveLoading: false,
                        },
                        createDirectory: {
                            show: false,
                            title: '创建目录',
                            text: '',
                            saveLoading: false
                        }
                    },
                    form: {
                        meta: {
                            host: '',
                            port: 22,
                            username: 'root',
                            password: '',
                            privateKey: '',
                        },
                        workdir: '',
                        cmd: '',
                        runAsFile: false,
                        waitForSeconds: 120,
                        inline: false,
                        lineCount: 300
                    }
                }
            },
            initBroadcast(){
                this.opsBroadcastChannel = new BroadcastChannel('ops_station_broadcast');

                setInterval(()=>{
                    this.opsBroadcastChannel.postMessage({
                        type: 'cert',
                        data: this.metas.cert
                    });
                },3000)


                this.opsBroadcastChannel.onmessage = (event) => {
                    let data=event.data;
                    if(data.type=='cert'){
                        if(!this.metas.cert || this.metas.cert==''){
                            this.metas.cert=data.data;
                        }
                    }
                };

            },
            loadData() {
                let content = localStorage.getItem('ops:ssh:data');
                if (!content) {
                    return
                }
                content = content.trim();
                if (content.length == 0) {
                    return;
                }
                try {
                    let obj = JSON.parse(content);
                    Object.keys(obj).forEach(k => {
                        this.$data[k] = obj[k];
                    });
                } catch (e) {

                }
            },
            storeData() {
                try {
                    let data = {...this.$data};
                    data.editor = null;
                    data.opsBroadcastChannel=null;
                    data.langEditors={};
                    Object.keys(this.$data.langEditors).forEach(k=>{
                        data.langEditors[k]=null;
                    })
                    let json = JSON.stringify(data);
                    let obj = JSON.parse(json);
                    obj.metas.cert = '';
                    obj.form.meta.password = '';
                    obj.form.meta.privateKey = '';
                    let content = JSON.stringify(obj);
                    localStorage.setItem('ops:ssh:data', content);
                } catch (e) {
                    // console.log(e)
                }
            },
            initCompletionsRefreshInterval() {
                let _this = this;

                function refresh() {
                    setTimeout(() => {
                        _this.collectCompletionItems()
                        refresh();
                    }, 3000);
                }

                refresh();
            },
            collectCompletionItems() {
                //console.log('begin collect completions ...')
                let items = [];
                let keywords = [
                    'echo', 'cat', 'head', 'tail', 'more',
                    'who', 'w', 'whoami',
                    'chmod', 'chown',
                    'top', 'ps', 'ef', 'free', 'df',
                    'mv', 'cd', 'rm', 'rf', 'cp', 'mkdir',
                    'touch',
                    'nohup', 'kill', 'sleep',
                    'grep', 'ls', 'll', 'awk', 'sed', 'print',
                    'ln', 'sf', 'tree', 'ipconfig', 'ifconfig',
                    'netstat', 'telnet', 'ping', 'tracert', 'traceroute',
                    'nslookup',
                    'ip', 'addr',
                    'java', 'jar',
                    'python',
                    'tar', 'xzvf', 'czvf',
                    'zip', 'unzip', 'xz',
                    'tree', 'find', 'name', 'type',
                    'if', 'else', 'then', 'fi',
                    'break', 'exit', 'return',
                    'sh', 'bash',
                    'function',
                    'for', 'do', 'done',
                    'date',
                    'case', 'in', 'esac'
                ]
                if (keywords) {
                    items.push(...keywords);
                }

                let completions = [];
                items.forEach(item => {
                    if (!item) {
                        return;
                    }
                    item = item.trim();
                    if (item == '') {
                        return;
                    }
                    if (!completions.includes(item)) {
                        completions.push(item);
                    }
                })
                this.completions = items;
                //console.log('end collect completions .')
            },
            editorCompletionItemCollector(prefix) {
                if (!prefix) {
                    prefix = '';
                }
                prefix = prefix.toLowerCase();
                let ret = [];
                let count = 50;
                for (let i = 0; i < this.completions.length; i++) {
                    let e = this.completions[i];
                    if (e && e.toLowerCase().indexOf(prefix) >= 0) {
                        ret.push(e);
                        count--;
                        if (count <= 0) {
                            break;
                        }
                    }
                }
                return ret;
            },
            initEditor() {
                let _this = this;

                function asyncHint(editor, callback, options) {
                    let cur = editor.getCursor();
                    let token = editor.getTokenAt(cur);
                    let prefix = token.string;

                    let items = _this.editorCompletionItemCollector(prefix) || []
                    let result = []
                    if (result && result.list) {
                        items = [...items, ...result.list]
                    }
                    callback({
                        list: items,
                        from: CodeMirror.Pos(cur.line, token.start),
                        to: CodeMirror.Pos(cur.line, token.end)
                    });
                }

                asyncHint.async = true;
                asyncHint.supportsSelection = true;

                let dom = this.$refs.refEditor;
                this.editor = CodeMirror.fromTextArea(dom, {  // 标识到textarea
                    value: "",  // 文本域默认显示的文本
                    mode: "shell",  // 模式
                    theme: "idea",  // CSS样式选择
                    indentUnit: 2,  // 缩进单位，默认2
                    smartIndent: true,  // 是否智能缩进
                    tabSize: 4,  // Tab缩进，默认4
                    readOnly: false,  // 是否只读，默认false
                    showCursorWhenSelecting: true,
                    hintOptions: {
                        completeSingle: false,
                        hint: asyncHint,
                    },
                    lineNumbers: true  // 是否显示行号
                    // .. 还有好多，翻译不完。需要的去看http://codemirror.net/doc/manual.html#config
                });
                this.editor.on("keypress", () => {
                    //编译器内容更改事件
                    this.editor.showHint();
                });
                this.editor.setValue(this.form.cmd || '');
                this.editor.on('change', () => {
                    this.form.cmd = this.editor.getValue();
                });
            },
            initLangEditor(editorProp,editorRef,editorLang,afterCallback){
                let bts=new Date().getTime()
                let initEditorTask=()=> {
                    if (this.langEditors[editorProp]) {
                        try {
                            this.langEditors[editorProp].toTextArea()
                        } catch (e) {

                        }
                    }
                    this.langEditors[editorProp] = null;

                    let dom = this.$refs[editorRef];
                    if(!dom){
                        let cts=new Date().getTime();
                        if(cts-bts<3000){
                            setTimeout(initEditorTask,30);
                        }
                        return
                    }
                    this.langEditors[editorProp] = CodeMirror.fromTextArea(dom, {  // 标识到textarea
                        value: "",  // 文本域默认显示的文本
                        mode: editorLang || '',  // 模式
                        theme: "idea",  // CSS样式选择
                        indentUnit: 2,  // 缩进单位，默认2
                        smartIndent: true,  // 是否智能缩进
                        tabSize: 4,  // Tab缩进，默认4
                        readOnly: false,  // 是否只读，默认false
                        showCursorWhenSelecting: true,
                        hintOptions: {
                            completeSingle: false,
                        },
                        lineNumbers: true  // 是否显示行号
                        // .. 还有好多，翻译不完。需要的去看http://codemirror.net/doc/manual.html#config
                    });
                    this.langEditors[editorProp].on("keypress", () => {
                        //编译器内容更改事件
                        this.langEditors[editorProp].showHint();
                    });
                    if (afterCallback) {
                        afterCallback(this.langEditors[editorProp], dom)
                    }
                }

                initEditorTask()
            },
            initResultEditor() {
                this.initLangEditor('resultEditor','refResultEditor',this.metas.resultLang,(editor,dom)=>{
                    editor.setValue(this.metas.resultText || '');
                    editor.on('change', () => {
                        this.metas.resultText = editor.getValue();
                    });
                })

            },
            onResultLangChange(){
                this.initResultEditor();
            },
            initTextViewerEditor(){
                this.initLangEditor('textViewerEditor','refTextViewerEditor',this.dialog.textViewer.lang,(editor,dom)=>{
                    editor.display.wrapper.style.height=Math.max(Math.round(window.innerHeight*0.85-270),320)+'px';
                    editor.setValue(this.dialog.textViewer.text || '');
                    editor.on('change', () => {
                        this.dialog.textViewer.text = editor.getValue();
                    });

                })
            },
            onTextViewerLangChange(){
                this.initTextViewerEditor()
            },
            initFileEditor(){
                this.initLangEditor('fileEditor','refFileEditor',this.dialog.fileEditor.lang,(editor,dom)=>{
                    editor.display.wrapper.style.height=Math.max(Math.round(window.innerHeight*0.85-270),320)+'px';
                    editor.setValue(this.dialog.fileEditor.text || '');
                    editor.on('change', () => {
                        this.dialog.fileEditor.text = editor.getValue();
                    });

                })
            },
            onFileEditorLangChange(){
                this.initFileEditor()
            },
            initStoreData() {
                let reset = new URL(window.location.href).searchParams.get('reset');
                if (reset != 'true') {
                    this.loadData();
                }
                setInterval(() => {
                    this.storeData();
                }, 1000);
            },
            doResetData() {
                let newData = this.getDefaultData();
                Object.keys(newData).forEach(k => {
                    this.$data[k] = newData[k];
                })
            },
            getTransfer() {
                let cert = this.metas.cert;
                if (!cert || cert.length == 0) {
                    cert = '';
                }
                cert = cert.trim();
                if (!cert || cert.length == 0) {
                    throw new Error('请先填写连接证书')
                }
                let ex = null;
                for (let i = 0; i < 3; i++) {
                    try {
                        let keyPair = OpsSecureHelper.deserializeKeyPair(cert)
                        return new OpsSecureTransfer(keyPair)
                    } catch (e) {
                        ex = e;
                    }
                }
                if (!ex) {
                    ex = new Error('init transfer error')
                }
                throw e;
            },
            messageError(msg,limit){
                window._lastError=msg;
                if(limit && limit>=0) {
                    if (msg && msg.length > limit) {
                        msg = msg.substring(0, limit) + '...'
                    }
                }
                this.$message.error(msg)
            },
            onCertChange() {
                this.doRefreshWorkdir();
            },
            assignSshMeta(req) {
                req.meta = {...this.form.meta};
                if (req.meta.password == '') {
                    req.meta.password = null;
                }
                if (req.meta.privateKey == '') {
                    req.meta.privateKey = null;
                }
                return req;
            },
            doRefreshWorkdir() {
                this.metas.workdirLoading = true;
                try {
                    let req = this.assignSshMeta({})
                    let transfer = this.getTransfer();
                    this.$axios({
                        url: '/workdir',
                        method: 'post',
                        data: transfer.send(req)
                    }).then(res => {
                        if (res.data.code == 200) {
                            //console.log(res.data)
                            let resp = transfer.recv(res.data.data) || {}
                            //console.log(resp)
                            this.form.workdir = resp.workdir;
                        } else {
                            this.messageError(res.data.msg,300)
                        }
                    }).catch(err => {
                        this.messageError(err.errorMessage || err.message || '操作失败',300)
                    }).finally(() => {
                        this.metas.workdirLoading = false;
                    })
                } catch (err) {
                    this.messageError(err.errorMessage || err.message || '操作失败',300)
                    this.metas.workdirLoading = false;
                }
            },
            getExecuteCmd() {
                let cmd = this.editor.getSelection();
                if (!cmd || cmd == '') {
                    cmd = this.form.cmd;
                }
                if (!cmd) {
                    cmd = '';
                }
                return cmd;
            },
            getTipExecuteCmd() {
                let cmd = this.getExecuteCmd();
                if (cmd.length > 30) {
                    cmd = cmd.substring(0, 30) + "...";
                }
                return cmd;
            },
            onExecute() {
                let cmd = this.getTipExecuteCmd();
                let execType = '命令';
                if (this.form.runAsFile) {
                    execType = '脚本';
                }
                this.$confirm('即将执行' + execType + '，是否继续？<br/>' + cmd, '操作提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning',
                    dangerouslyUseHTMLString: true
                }).then(() => {
                    this.doExecute();
                }).catch(() => {
                    this.$message({
                        type: 'info',
                        message: '已取消执行'
                    });
                });
            },
            doExecute() {
                this.metas.resultLoading = true;
                try {
                    let cmd = this.getExecuteCmd();
                    let req = this.assignSshMeta({
                        workdir: this.form.workdir,
                        cmd: cmd,
                        runAsFile: this.form.runAsFile,
                        waitForSeconds: this.form.waitForSeconds,
                    });
                    let transfer = this.getTransfer();
                    this.$axios({
                        url: `/cmd`,
                        method: 'post',
                        data: transfer.send(req)
                    }).then(res => {
                        if (res.data.code == 200) {
                            //console.log(res.data)
                            let resp = transfer.recv(res.data.data)
                            // console.log(resp)
                            this.metas.resultText = resp || '';
                            try {
                                // filter out console ascii escape sequence
                                this.metas.resultText = this.metas.resultText.replace(/\x1B\[[\d;]+m/g, '');
                            } catch (e){}
                            this.metas.resultLang='text';

                        } else {
                            this.metas.resultText = res.data.msg;
                            this.metas.resultLang='text';
                            this.messageError(res.data.msg,300)
                        }
                        setTimeout(()=>{
                            this.initResultEditor();
                        },200)
                    }).catch(err => {
                        this.messageError(err.errorMessage || err.message || '操作失败',300)
                    }).finally(() => {
                        this.metas.resultLoading = false;
                    })
                } catch (err) {
                    this.messageError(err.errorMessage || err.message || '操作失败',300)
                    this.metas.resultLoading = false;
                }
            },
            onViewFiles() {
                this.drawer.fileList.show = true;
                this.onRefreshFiles()
            },
            onRefreshFiles() {
                this.drawer.fileList.filesLoading = true;
                try {
                    let req = this.assignSshMeta({
                        workdir: this.form.workdir
                    });
                    let transfer = this.getTransfer();
                    this.$axios({
                        url: '/file-list',
                        method: 'post',
                        data: transfer.send(req)
                    }).then(res => {
                        if (res.data.code == 200) {
                            // console.log(res.data)
                            let resp = transfer.recv(res.data.data) || []
                            // console.log(resp)
                            this.drawer.fileList.files = resp;
                        } else {
                            this.messageError(res.data.msg,300)
                        }
                    }).catch(err => {
                        this.messageError(err.errorMessage || err.message || '操作失败',300)
                    }).finally(() => {
                        this.drawer.fileList.filesLoading = false;
                    })
                } catch (err) {
                    this.messageError(err.errorMessage || err.message || '操作失败',300)
                    this.drawer.fileList.filesLoading = false;
                }
            },
            onViewText(obj, title,lang) {
                if (title && title.length > 0) {
                    this.dialog.textViewer.title = title;
                } else {
                    this.dialog.textViewer.title = '文本浏览';
                }
                let text = ''
                if (typeof obj == 'string') {
                    text = obj;
                } else {
                    text = JSON.stringify(obj, null, '    ');
                }
                this.dialog.textViewer.lang=lang || 'text';
                this.dialog.textViewer.text = text;
                this.dialog.textViewer.show = true;
                setTimeout(()=>{
                    this.initTextViewerEditor()
                },200)
            },
            onClickDir(item) {
                this.form.workdir = item.path;
                this.onRefreshFiles()
            },
            callDownloadFile(path) {
                let req = this.assignSshMeta({
                    path: path,
                });
                let transfer = this.getTransfer();
                return this.$axios({
                    url: `/download`,
                    method: 'post',
                    responseType: 'blob',
                    data: transfer.send(req)
                }).then(res => {
                    let contentDisposition = ''
                    let contentType = ''

                    Object.keys(res.headers).forEach(k => {
                        if ('content-disposition' == k.toLowerCase()) {
                            contentDisposition = res.headers[k]
                        }
                        if ('content-type' == k.toLowerCase()) {
                            contentType = res.headers[k]
                        }
                    })

                    let fileName = 'download.data'
                    if (contentDisposition && contentDisposition != '') {
                        let arr = contentDisposition.split(';');
                        arr.forEach(item => {
                            item = item.trim();
                            let pair = item.split("=", 2);
                            let key = pair[0].trim();
                            if ('filename' == key.toLowerCase()) {
                                if (pair.length == 2) {
                                    let val = decodeURIComponent(pair[1].trim());
                                    fileName = val;
                                }
                            }
                        })
                    }

                    if (!contentType || contentType == '') {
                        contentType = 'application/octet-stream'
                    }


                    return {
                        fileName: fileName,
                        data: res.data,
                        contentType: contentType
                    }
                })
            },
            onDownloadFile(item) {
                this.metas.resultLoading = true;
                try {
                    this.callDownloadFile(item.path).then(res => {
                        const blob = new Blob([res.data], {type: res.contentType})
                        const dom = document.createElement('a')
                        const downUrl = window.URL.createObjectURL(blob)
                        dom.href = downUrl
                        dom.download = decodeURIComponent(res.fileName)
                        dom.style.display = 'none'
                        document.body.appendChild(dom)
                        dom.click()
                        dom.parentNode.removeChild(dom)
                        window.URL.revokeObjectURL(downUrl)
                    }).catch(err => {
                        this.messageError(err.errorMessage || err.message || '操作失败',300)
                    }).finally(() => {
                        this.metas.resultLoading = false;
                    })
                } catch (err) {
                    this.messageError(err.errorMessage || err.message || '操作失败',300)
                    this.metas.resultLoading = false;
                }
            },
            guessLangByFileSuffix(path){
                if(!path || path==''){
                    return 'text';
                }
                let idx=path.lastIndexOf('.');
                if(idx>=0){
                    let suffix=path.substring(idx).toLowerCase();
                    if('.xml'==suffix){
                        return 'xml';
                    }
                    if('.html'==suffix || '.htm'==suffix){
                        return 'htmlmixed';
                    }
                    if('.yaml'==suffix || '.yml'==suffix){
                        return 'yaml';
                    }
                    if('.json'==suffix){
                        return 'javascript';
                    }
                    if('.sql'==suffix){
                        return 'sql';
                    }
                    if('.sh' ==suffix || '.bat'==suffix || '.cmd'==suffix){
                        return 'shell';
                    }
                    if('.md'==suffix){
                        return 'markdown';
                    }
                    if('.groovy'==suffix || '.java'==suffix){
                        return 'groovy';
                    }
                    if('.py'==suffix){
                        return 'python';
                    }
                    if('.conf'==suffix){
                        return 'nginx';
                    }
                }
                return 'text';
            },
            onEditFile(item) {
                this.metas.resultLoading = true;
                try {
                    let _this = this;
                    this.callDownloadFile(item.path).then(res => {
                        const blob = new Blob([res.data], {type: res.contentType})
                        let reader = new FileReader();

                        reader.onload = function (event) {
                            let result = event.target.result;
                            _this.dialog.fileEditor.text = result;
                            _this.dialog.fileEditor.path = item.path;
                            _this.dialog.fileEditor.allowChangePath = false;
                            _this.dialog.fileEditor.title = '编辑文件 - ' + item.name;
                            _this.dialog.fileEditor.lang=_this.guessLangByFileSuffix(item.name);
                            _this.dialog.fileEditor.show = true;
                            setTimeout(()=>{
                                _this.initFileEditor();
                            },200)
                        };
                        reader.readAsText(blob, 'utf-8');
                    }).catch(err => {
                        this.messageError(err.errorMessage || err.message || '操作失败',300)
                    }).finally(() => {
                        this.metas.resultLoading = false;
                    })
                } catch (err) {
                    this.messageError(err.errorMessage || err.message || '操作失败',300)
                    this.metas.resultLoading = false;
                }
            },
            onDeleteFile(item) {
                this.$confirm('即将删除文件，是否继续？<br/>' + item.path, '操作提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning',
                    dangerouslyUseHTMLString: true
                }).then(() => {
                    this.doDeleteFile(item.path);
                }).catch(() => {
                    this.$message({
                        type: 'info',
                        message: '已取消执行'
                    });
                });
            },
            doDeleteFile(path) {
                this.metas.resultLoading = true;
                try {
                    let req = this.assignSshMeta({
                        path: path
                    });
                    let transfer = this.getTransfer();
                    this.$axios({
                        url: `/delete`,
                        method: 'post',
                        data: transfer.send(req)
                    }).then(res => {
                        if (res.data.code == 200) {
                            //console.log(res.data)
                            let resp = transfer.recv(res.data.data)
                            // console.log(resp)
                            this.$message.success('操作成功')
                            this.onRefreshFiles()
                        } else {
                            this.messageError(res.data.msg,300)
                        }
                    }).catch(err => {
                        this.messageError(err.errorMessage || err.message || '操作失败',300)
                    }).finally(() => {
                        this.metas.resultLoading = false;
                    })
                } catch (err) {
                    this.messageError(err.errorMessage || err.message || '操作失败',300)
                    this.metas.resultLoading = false;
                }
            },
            onSubmitEditFile() {
                this.$confirm('即将保存修改文件，是否继续？<br/>' + this.dialog.fileEditor.path, '操作提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning',
                    dangerouslyUseHTMLString: true
                }).then(() => {
                    this.doSubmitEditFile();
                }).catch(() => {
                    this.$message({
                        type: 'info',
                        message: '已取消执行'
                    });
                });
            },
            stringToBlob(string) {
                // 将字符串转换为Uint8Array
                const bytes = new TextEncoder().encode(string);
                // 创建一个Blob对象
                const blob = new Blob([bytes], {type: 'text/plain'});
                return blob;
            },
            md5ForFile(file) {
                return new Promise((resolve, reject) => {
                    const reader = new FileReader()

                    reader.onload = function (e) {
                        const resultBuffer = reader.result
                        const wordArray = CryptoJS.lib.WordArray.create(resultBuffer)
                        const md5Hash = CryptoJS.MD5(wordArray)

                        resolve(md5Hash.toString())
                    }

                    reader.onerror = function (e) {
                        reject(reader.error)
                    }

                    reader.readAsArrayBuffer(file)
                })
            },
            doSubmitEditFile() {
                this.dialog.fileEditor.saveLoading = true;
                try {
                    let text = this.dialog.fileEditor.text;
                    let blob = this.stringToBlob(text);
                    this.md5ForFile(blob)
                        .then(md5 => {
                            let form = new FormData();
                            form.append('file', blob, 'content.txt');

                            let req = this.assignSshMeta({
                                path: this.dialog.fileEditor.path,
                                md5: md5
                            })
                            let transfer = this.getTransfer();
                            let reqData = transfer.send(req);
                            Object.keys(reqData).forEach(k => {
                                form.append(k, reqData[k])
                            })

                            this.$axios({
                                url: `/upload`,
                                method: 'post',
                                headers: {
                                    'Content-Type': 'multipart/form-data'
                                },
                                data: form
                            }).then(res => {
                                if (res.data.code == 200) {
                                    //console.log(res.data)
                                    let resp = transfer.recv(res.data.data)
                                    // console.log(resp)
                                    this.$message.success('操作成功')
                                    this.dialog.fileEditor.show = false;
                                    this.onRefreshFiles()
                                } else {
                                    this.messageError(res.data.msg,300)
                                }
                            }).catch(err => {
                                this.messageError(err.errorMessage || err.message || '操作失败',300)
                            }).finally(() => {
                                this.dialog.fileEditor.saveLoading = false;
                            })
                        }).catch(err => {
                        this.messageError(err.errorMessage || err.message || '操作失败',300)
                    }).finally(() => {
                        this.dialog.fileEditor.saveLoading = false;
                    })
                } catch (err) {
                    this.messageError(err.errorMessage || err.message || '操作失败',300)
                    this.dialog.fileEditor.saveLoading = false;
                }


            },
            onAddDirectory() {
                this.dialog.createDirectory.text = this.form.workdir;
                this.dialog.createDirectory.show = true;
            },
            onSubmitCreateDirectory() {
                this.dialog.createDirectory.saveLoading = true;
                try {
                    let req = this.assignSshMeta({
                        path: this.dialog.createDirectory.text
                    });
                    let transfer = this.getTransfer();
                    this.$axios({
                        url: `/mkdirs`,
                        method: 'post',
                        data: transfer.send(req)
                    }).then(res => {
                        if (res.data.code == 200) {
                            //console.log(res.data)
                            let resp = transfer.recv(res.data.data)
                            // console.log(resp)
                            this.$message.success('操作成功')
                            this.dialog.createDirectory.show = false;
                            this.onRefreshFiles()
                        } else {
                            this.messageError(res.data.msg,300)
                        }
                    }).catch(err => {
                        this.messageError(err.errorMessage || err.message || '操作失败',300)
                    }).finally(() => {
                        this.dialog.createDirectory.saveLoading = false;
                    })
                } catch (err) {
                    this.messageError(err.errorMessage || err.message || '操作失败',300)
                    this.dialog.createDirectory.saveLoading = false;
                }
            },
            onAddFile() {
                let separator = '/';
                if (this.form.workdir.indexOf('\\') >= 0) {
                    separator = '\\';
                }
                this.dialog.fileEditor.text = '';
                this.dialog.fileEditor.path = this.form.workdir + separator + 'content.txt';
                this.dialog.fileEditor.allowChangePath = true;
                this.dialog.fileEditor.title = '新建文件';
                this.dialog.fileEditor.lang='text';
                this.dialog.fileEditor.show = true;
                setTimeout(()=>{
                    this.initFileEditor();
                },200)
            },
            onUploadFileChange(file) {
                this.metas.uploadList = []
                this.metas.uploadList.push(file)
                this.$confirm('即将上传文件，是否继续？<br/>' + file.name, '操作提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning',
                    dangerouslyUseHTMLString: true
                }).then(() => {
                    this.doUploadFile(file)
                }).catch(() => {
                    this.$message({
                        type: 'info',
                        message: '已取消执行'
                    });
                });
            },
            doUploadFile(file) {
                this.metas.uploadLoading = true;
                try {
                    this.md5ForFile(file.raw)
                        .then(md5 => {
                            let form = new FormData();
                            form.append('file', file.raw, file.name);

                            let req = this.assignSshMeta({
                                workdir: this.form.workdir,
                                md5: md5
                            })
                            let transfer = this.getTransfer();
                            let reqData = transfer.send(req);
                            Object.keys(reqData).forEach(k => {
                                form.append(k, reqData[k])
                            })

                            this.$axios({
                                url: `/upload`,
                                method: 'post',
                                headers: {
                                    'Content-Type': 'multipart/form-data'
                                },
                                data: form
                            }).then(res => {
                                if (res.data.code == 200) {
                                    //console.log(res.data)
                                    let resp = transfer.recv(res.data.data)
                                    // console.log(resp)
                                    this.$message.success('操作成功')
                                    this.onRefreshFiles()
                                } else {
                                    this.messageError(res.data.msg,300)
                                }
                            }).catch(err => {
                                this.messageError(err.errorMessage || err.message || '操作失败',300)
                            }).finally(() => {
                                this.metas.uploadLoading = false;
                            })
                        }).catch(err => {
                        this.messageError(err.errorMessage || err.message || '操作失败',300)
                    }).finally(() => {
                        this.metas.uploadLoading = false;
                    })
                } catch (err) {
                    this.messageError(err.errorMessage || err.message || '操作失败',300)
                    this.metas.uploadLoading = false;
                }
            }

        }
    })
    let defaultConfig = {
        baseURL: './',
        timeout: 10 * 60 * 1000,
        responseType: 'json'
    }
    let request = axios.create(defaultConfig)
    window.app.$axios = request
    window.app.$mount('#app')
</script>
<style>
    .cert-block {
        max-height: 32px;
        overflow: hidden;
    }
    .cert-block:hover{
        max-height: 280px;
    }

    .list-item {
        margin-top: 3px;
        border-bottom: solid 1px #777;
    }

    .list-item:hover {
        background: lightskyblue;
    }

    .checked-item {
        background: darkorange;
    }

    .el-table__cell .table-cell-hidden{
        display: none;
    }

    .el-table__cell:hover .table-cell-hidden{
        display: inline-block;
    }

    .scroller {
        height: calc(100vh - 200px);
    }
</style>
</html>