-- table ddl

-- -------------------------------------------------
-- 1.1 :   SYS_DICT

-- DROP TABLE SYS_DICT;

CREATE TABLE SYS_DICT
(
    ID          BIGINT ( 19 ) NOT NULL,
    NAME        VARCHAR(300) NOT NULL,
    NO          VARCHAR(300) NOT NULL,
    STATUS      INT ( 10 ) DEFAULT 1,
    CREATE_TIME DATETIME ( 19 ) DEFAULT CURRENT_TIMESTAMP,
    CREATE_BY   VARCHAR(300),
    UPDATE_TIME DATETIME ( 19 ),
    UPDATE_BY   VARCHAR(300),
    PRIMARY KEY (ID)
);



-- -------------------------------------------------
-- 1.2 :   SYS_DICT_ITEM

-- DROP TABLE SYS_DICT_ITEM;

CREATE TABLE SYS_DICT_ITEM
(
    ID             BIGINT ( 19 ) NOT NULL,
    DICT_ID        BIGINT ( 19 ) NOT NULL,
    NAME           VARCHAR(300) NOT NULL,
    NO             VARCHAR(300),
    VALUE          VARCHAR(300),
    REMARK         VARCHAR(300),
    PARENT_ITEM_ID BIGINT ( 19 ),
    STATUS         INT ( 10 ) DEFAULT 1,
    TAGS           VARCHAR(300),
    CREATE_TIME    DATETIME ( 19 ) DEFAULT CURRENT_TIMESTAMP,
    CREATE_BY      VARCHAR(300),
    UPDATE_TIME    DATETIME ( 19 ),
    UPDATE_BY      VARCHAR(300),
    PRIMARY KEY (ID)
);



-- -------------------------------------------------
-- 1.3 :   SYS_LOG

-- DROP TABLE SYS_LOG;

CREATE TABLE SYS_LOG
(
    ID          BIGINT ( 19 ) NOT NULL,
    TYPE        VARCHAR(300),
    TITLE       VARCHAR(300),
    TARGET      VARCHAR(300),
    ACTION      VARCHAR(2000),
    CREATE_TIME DATETIME ( 19 ) DEFAULT CURRENT_TIMESTAMP,
    CREATE_BY   VARCHAR(300),
    PRIMARY KEY (ID)
);



-- -------------------------------------------------
-- 1.4 :   SYS_PERMISSION

-- DROP TABLE SYS_PERMISSION;

CREATE TABLE SYS_PERMISSION
(
    ID          BIGINT ( 19 ) NOT NULL,
    NAME        VARCHAR(300) NOT NULL,
    NO          VARCHAR(300) NOT NULL,
    TYPE        INT ( 10 ) DEFAULT 0,
    STATUS      INT ( 10 ) DEFAULT 1,
    CREATE_TIME DATETIME ( 19 ) DEFAULT CURRENT_TIMESTAMP,
    CREATE_BY   VARCHAR(300),
    UPDATE_TIME DATETIME ( 19 ),
    UPDATE_BY   VARCHAR(300),
    PRIMARY KEY (ID)
);



-- -------------------------------------------------
-- 1.5 :   SYS_ROLE

-- DROP TABLE SYS_ROLE;

CREATE TABLE SYS_ROLE
(
    ID          BIGINT ( 19 ) NOT NULL,
    NAME        VARCHAR(300) NOT NULL,
    NO          VARCHAR(300) NOT NULL,
    STATUS      INT ( 10 ) DEFAULT 1,
    CREATE_TIME DATETIME ( 19 ) DEFAULT CURRENT_TIMESTAMP,
    CREATE_BY   VARCHAR(300),
    UPDATE_TIME DATETIME ( 19 ),
    UPDATE_BY   VARCHAR(300),
    PRIMARY KEY (ID)
);



-- -------------------------------------------------
-- 1.6 :   SYS_ROLE_PERMISSION

-- DROP TABLE SYS_ROLE_PERMISSION;

CREATE TABLE SYS_ROLE_PERMISSION
(
    ID            BIGINT ( 19 ) NOT NULL,
    ROLE_ID       BIGINT ( 19 ) NOT NULL,
    PERMISSION_ID BIGINT ( 19 ) NOT NULL,
    CREATE_TIME   DATETIME ( 19 ) DEFAULT CURRENT_TIMESTAMP,
    CREATE_BY     VARCHAR(300),
    UPDATE_TIME   DATETIME ( 19 ),
    UPDATE_BY     VARCHAR(300),
    PRIMARY KEY (ID)
);



-- -------------------------------------------------
-- 1.7 :   SYS_USER

-- DROP TABLE SYS_USER;

CREATE TABLE SYS_USER
(
    ID          BIGINT ( 19 ) NOT NULL,
    USERNAME    VARCHAR(300) NOT NULL,
    PASSWORD    VARCHAR(300) NOT NULL,
    NICKNAME    VARCHAR(300),
    AGE         INT ( 10 ),
    GRADE       INT ( 10 ),
    STATUS      INT ( 10 ) DEFAULT 1,
    CREATE_TIME DATETIME ( 19 ) DEFAULT CURRENT_TIMESTAMP,
    CREATE_BY   VARCHAR(300),
    UPDATE_TIME DATETIME ( 19 ),
    UPDATE_BY   VARCHAR(300),
    PRIMARY KEY (ID)
);


CREATE UNIQUE INDEX SYS_USER_USERNAME_IDX
    ON SYS_USER (USERNAME);



CREATE INDEX SYS_USER_NICKNAME_IDX
    ON SYS_USER (NICKNAME);

COMMENT
ON TABLE SYS_USER IS '用户表' ;

        COMMENT
ON COLUMN SYS_USER.ID IS 'ID' ;
            COMMENT
ON COLUMN SYS_USER.USERNAME IS '用户名' ;
            COMMENT
ON COLUMN SYS_USER.PASSWORD IS '密码' ;
            COMMENT
ON COLUMN SYS_USER.NICKNAME IS '昵称' ;
                                

-- -------------------------------------------------
-- 1.8 :   SYS_USER_ROLE

-- DROP TABLE SYS_USER_ROLE;

CREATE TABLE SYS_USER_ROLE
(
    ID          BIGINT ( 19 ) NOT NULL,
    USER_ID     BIGINT ( 19 ) NOT NULL,
    ROLE_ID     BIGINT ( 19 ) NOT NULL,
    CREATE_TIME DATETIME ( 19 ) DEFAULT CURRENT_TIMESTAMP,
    CREATE_BY   VARCHAR(300),
    UPDATE_TIME DATETIME ( 19 ),
    UPDATE_BY   VARCHAR(300),
    PRIMARY KEY (ID)
);


    

    

                            

